{% extends 'home.html.twig' %}

{% block body %}
    <div class="welcomeTeaser">
        <div class="welcomeTeaser after"></div>

        <div class="welcomeTeaser-container">
            <div class="welcomeTeaser-inner">
                <div class="welcomeTeaser__description wow fadeInLeft">
                    <div class="welcomeTeaser__description-headline">
                        <h1>Elektronisches Klassenbuch</h1>
                    </div>
                    <div class="welcomeTeaser__description-text">
                        <p>
                            Verwalte deine Fehlstunden und Einträge in deinem persönlichen Klassenbuch.
                        </p>
                    </div>
                </div>
                <div class="welcomeTeaser__form wow fadeInDown">
                    <div class="welcomeTeaser__form-jumbotron">
                        <div class="welcomeTeaser__form-content">
                            <form method="post">
                                <div class="form-group">
                                    <label for="username">Benutzername</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="Dein Benutzername">
                                </div>
                                <div class="form-group">
                                    <label for="passwort">Passwort</label>
                                    <input type="password" class="form-control" id="passwort" name="passwort"
                                           placeholder="Dein Passwort">
                                </div>

                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Einloggen"
                                       name="login" id="login">
                            </form>
                        </div>
                        <div class="welcomeTeaser__form-footer">
                            Du bist neu hier? Dann <a href="#register" data-toggle="modal" data-target="#register">registriere</a> dich noch heute!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="main-section" id="team">
        <div class="team">
            <div class="team__headline">
                <h2 class="team__headline--font">Team</h2>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile wow fadeInLeft">
                        <div class="team__profile__photo">
                            <img src="{{ asset('img/profiles/anheier_profile.jpg') }}" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Til Anheier (Frontend- & Backend-Entwickler)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Til macht eine Ausbildung bei der Mediengruppe RTL Deutschland GmbH und hat bereits Erfahrungen in der Webentwicklung gesammelt. Zu seinen Kernkompetenzen zählen unter anderem die Frontend- und Backend-Entwicklung. Hierfür benutzt er aktuelle Technologien wie beispielsweise Symfony oder SCSS.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile right wow fadeInRight">
                        <div class="team__profile__photo">
                            <img src="{{ asset('img/profiles/bernhardt_profile.jpg') }}" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Mike Bernhardt (Security Guard)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile wow fadeInLeft">
                        <div class="team__profile__photo">
                            <img src="{{ asset('img/profiles/inam_profile.jpg') }}" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Deniz Inam (Security Guard)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile right wow fadeInRight">
                        <div class="team__profile__photo">
                            <img src="{{ asset('img/profiles/duester_profile.jpg') }}" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Alexander Düster (Frontend- & Backend-Entwickler)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section white" id="funktionen">
        <div class="functions">
            <div class="functions__headline wow fadeInDown">
                <h2>Funktionen</h2>
            </div>
            <div class="functions__description">
                <div class="functions__description__col wow fadeInLeft">
                    <div class="functions__description__col-headline">
                        <h4>Anwesenheitskontrolle</h4>
                    </div>
                    <div class="functions__description__col-content">
                        <p>
                            Im elektronischen Klassenbuch haben die Lehrkräfte die Möglichkeit, die Anwesenheit über das Anwesenheits-Tool zu kontrollieren. Hierbei muss lediglich ein Klick getätigt werden, um den Schüler als fehlend einzutragen. <br>
                            Die inteliigente Anwesenheitskontrolle ermöglicht, dass nur die Schüler markiert werden müssen, die abwesend sind. Sobald nichts anderes angegeben wurde, gilt dieser als anwesend. Dieses nützliche Feature erspart sämtliche Arbeit der Lehrkraft und kann schnell in den Unterricht starten.
                        </p>
                    </div>
                </div>
                <div class="functions__description__col wow fadeInUp">
                    <div class="functions__description__col-headline">
                        <h4>Fehlstunden eintragen</h4>
                    </div>
                    <div class="functions__description__col-content">
                        <p>
                            Es kann immer Mal passieren, dass eine Lehrkraft vergisst einen fehlenden Schüler als fehlend einzutragen. Über wenige Klicks kann dies der Lehrer nachholen und diesen eintragen. <br>
                            Schüler können sich einen Einblick in Ihre Fehlstunden verschaffen und sind nicht zwangsläufig auf den Lehrer angewiesen. Hierbei bekommt der Schüler eine Übersicht seiner Fehlstunden präsentiert und kann diese entschuldigen.
                        </p>
                    </div>
                </div>
                <div class="functions__description__col wow fadeInRight">
                    <div class="functions__description__col-headline">
                        <h4>Team-Teaching</h4>
                    </div>
                    <div class="functions__description__col-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section colored" id="design">
        <div class="design">
            <div class="design__headline wow fadeInDown">
                <h2>Design</h2>
            </div>
            <div class="design__description">
                <div class="design__description-content wow fadeInLeft">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="design__description-images wow fadeInRight">
                    <img src="{{ asset('img/start_page_mobile_view.png') }}" alt="design" width="300" height="400">
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrieren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if form != null %}
                    {{ form_start(form) }}
                    <div class="modal-body">
                        {% for child in form.children|keys %}
                            <div class="form-group">
                                {% if 'token' not in form_label(attribute(form.children, child)) %}
                                    {{ form_label(attribute(form.children, child)) }}
                                {% endif %}
                                {{ form_widget(attribute(form.children, child)) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <input type="submit" class="btn btn-success" value="Registrieren">
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}